body {
    margin: 0;
}

* {
    font-family: 'Rubik', sans-serif !important;
}

a {
    text-decoration: none;
    color: inherit;
}

.form {
    margin: 3rem auto auto;
    justify-self: center;
    padding: 2rem 1rem;
}

input {
    width: 100%;
}
